set relativenumber
set mouse=a

set easymotion
set NERDTree
set surround
set ReplaceWithRegister
set highlightedyank

let mapleader = " "

nnoremap L $
vnoremap L $
nnoremap H ^
vnoremap H ^
noremap ; :

set clipboard=unnamed,unnamedplus
" " Copy to clipboard
vnoremap  <leader>y  "+y
nnoremap  <leader>Y  "+yg_
nnoremap  <leader>y  "+y
nnoremap  <leader>yy  "+yy

" " Paste from clipboard
nnoremap <leader>p "+p
nnoremap <leader>P "+P
vnoremap <leader>p "+p
vnoremap <leader>P "+P

nnoremap ,s :action FileStructurePopup<CR>
nnoremap ,p :action SearchEverywhere<CR>
nnoremap <leader>ff :action SearchEverywhere<CR>
nnoremap <leader>fw :action FindModal<CR>
nnoremap <leader>fs :action FileStructurePopup<CR>
nnoremap <leader>fl :action Find<CR>
nnoremap <leader>gu :action FindUsagesInFile<CR>
nnoremap <leader>gU :action FindUsages<CR>
nnoremap <C-p> :action SearchEverywhere<CR>

nnoremap U :action FindUsages<CR>
nnoremap R :action RenameElement<CR>

nnoremap == :action ReformatCode<CR>
vnoremap == :action ReformatCode<CR>

nnoremap cc :action CommentByLineComment<CR>
vnoremap cc :action CommentByLineComment<CR>

nnoremap <C-CR> :action ShowIntentionActions<CR>

nnoremap ,a :action GotoAction<CR>
vnoremap ,a :action GotoAction<CR>

nnoremap d "_d

nnoremap x d
vnoremap x d
nnoremap xx dd
vnoremap xx dd

inoremap <M-j> <Down>
inoremap <M-k> <Up>
inoremap <M-l> <Right>
inoremap <M-h> <Left>

nnoremap <M-j> <C-W>j
nnoremap <M-k> <C-W>k
nnoremap <M-l> <C-W>l
nnoremap <M-h> <C-W>h


"remap insert mode alt key and arrow keys
inoremap <M-h> <Left>
inoremap <M-j> <Down>
inoremap <M-k> <Up>
inoremap <M-l> <Right>

nmap <C-s> :w<CR>

 let g:highlightedyank_highlight_duration = "-1"
